---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NasaImage from '../components/NasaImage.vue'
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<NasaImage client:visible />
		</main>
	</body>
</html>